.init {
	border: 1px solid rgba(190, 190, 190, 1);
	-webkit-box-shadow: 3px 3px 7px 0px rgba(191,191,191,1);
	-moz-box-shadow: 3px 3px 7px 0px rgba(191,191,191,1);
	box-shadow: 3px 3px 7px 0px rgba(191,191,191,1);
	&-percent {
		color: $soft-blue;
		font-style: bold;
	}

	&-image {
		background-size: cover;
		height: 10rem;
	}

	.progress {
		height: 0.4rem;
	}
	.progress-yellow { background-color: $progress-yellow; }
	.progress-green  { background-color: $progress-green; }
	.progress-blue   { background-color: $progress-blue; }
}