*.py[cod]
.*
!.slugignore
!.babelrc
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.flowconfig
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.eslintrc.json
*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/saleor/static/assets/
/saleor/settings-production.py
/saleor/settings-staging.py
webpack-bundle.json
*.mo

############################# SublimeText #############################

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings


############################# VirtualEnv #############################
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
venv
ENV
env
pip-selfcheck.json
