.breadcrumbs {
  margin: 0;
  li {
    &:last-of-type {
      color: $skull-gray;
    }
    display: inline;
    &:not(:first-of-type) {
      margin-left: $global-margin / 3;
    }
    &:not(:last-of-type) {
      color: $brand;
    }
    &:not(:last-of-type):after {
      content: '>';
      display: inline-block;
      margin-left: $global-margin / 3;
    }
    a {
      color: inherit;
    }
  }
}
