.logo {
    svg {
        max-width: 150px;
        height: auto;
    }
    @include media-breakpoint-down(sm) {
        svg {
          max-height: 30px;
          width: auto;
        }
    }
    @media (max-width: 370px) {
        svg {
          max-height: 23px;
          width: auto;
        }
    }
}

body {
  background-image: $gray-tile;
  .breadcrumb-section {
    background-color: rgba(255, 255, 255, 1);
  }
  .innovation-section {
    %item_box {
      padding: 1rem 2rem;
      border: 2px solid;
      font-size: x-large;
      font-weight: 400;
    }
    .item {
      &_expr {
        font-weight: bold;
        font-size: 200%;
      }
      &_neutral {
        @extend %item_box;
        background-color: rgba(255, 255, 255, 1);
        color: $brand;
        border-color: $brand;
      }
      &_brand {
        @extend %item_box;
        background-color: $brand;
        color: $yellow;
        border-color: $brand;
      }
    }
  }
  .section {
    border-bottom: 1px solid rgba(197, 197, 197, 1);
  }
}