// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 4px;

// SIZING VARIABLES
$none: 0;
$x-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$large: 1.5rem;
$x-large: 2rem;

// COLORS
$body-color: #333333;
$white: #fff;
$light-gray: #f2f2f2;
$gray: #D3D1D0;
$darken-gray: darken($gray, 10%);
$skull-gray: #828282;
$soft-blue: #26a5d4;
$blue: #26A5D4;
$darken-blue: darken($blue, 10%);
$brand: #092959;
$red: #EB5757;
$dark-red: #c53636;
$green: #27AE60;
$beige: #FFFAEC;
$yellow: #E6E617;
$error: $dark-red;
$weak: $skull-gray;
$progress-yellow: #f2f218;
$progress-green: #18f2aa;
$progress-blue: #1885f2;

// TYPOGRAPHY
$font-family-sans-serif: 'Lato', sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

// BACKGROUND IMAGE URLS
$gray-tile: url(../images/gray_tile.png);

$theme-colors: (
  primary: $blue,
  secondary: $white,
  success: $green,
  info: #17a2b8,
  warning: #ffc107,
  danger: $red,
  light: #f8f9fa,
  dark: #343a40
);
